APP_ENV='dev'

DB_HOST='db' # The host is the docker service in docker-compose.yml
DB_CHARSET='utf8mb4'

MYSQL_ROOT_PASSWORD='root'
MYSQL_DATABASE='micro-erp'
MYSQL_USER='test'
MYSQL_PASSWORD='test'

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
